body {
  background-color: #ececc0;
  background-image: url(/resources/images/back.png);
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.big-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: #eed519;
  border: black 5px solid;
  border-radius: 15px;
  width: 40%;
  height: 85vh;
}

h2 {
  font-size: 70px;
  margin: 0;
}

h1 {
  color: #5c3613;
  font-size: 26px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 0.5rem;
  width: 55%;
  height: 87vh;
  margin: 0;
}

.card {
  background-color: #eed519;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: black 5px solid;
  width: 250px;
  height: 330px;
  padding: 20px;
  text-align: center;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


.select-input {
  cursor: pointer;
  width: 110%;
  padding: 8px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  appearance: none;
  text-align: center;
  font-size: 22px;
  font-weight: bolder;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 15px;
  background-color: #fff;
}

.close svg {
  width: 5rem;
  position: absolute;
  top: 5px;
  right: 5px;
  transition: all 0.3s;
}

.close svg:hover {
  transform: scale(1.1);
  cursor: pointer;
}